* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-weight: bold;
  scroll-padding-top: 80px; /* marimea header */
}

/* Navigation */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 0.75rem 5rem;
  background-color: #9fe98d;
  z-index: 10;
}
.logo {
  height: 70px;
  width: 70px;
  align-items: flex-start;
}
.navigation-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  width: 60%;
}
.navigation-bar > a {
  margin-right: 2rem;
  font-size: 1.6rem;
  text-decoration: none;
  color: #0b2b0b;
}
.navigation-bar > a:last-child {
  margin-right: 0;
}
.navigation-bar > a:hover {
  text-decoration: underline;
}
/* Navigation */

/* Home */
.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main main right"
    "footer footer f0099ccooter footer footer footer";
  gap: 10px;
  background-color: white;
  padding: 20px;
}
.grid-container > div {
  padding: 10px;
  font-size: 16px;
}
.grid-item-1 {
  grid-area: header;
  background-color: palegreen;
  text-align: center;
  margin-bottom: 100px;
  height: 20px;
  color: #fff;
}
.grid-item-1 > h1 {
  font-size: 40px;
}
.grid-item-2 {
  grid-area: menu;
}
.grid-item-2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.grid-item-2 li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: palegreen;
  color: #fff;
}
.grid-item-2 li:hover {
  background-color: #0b2b0b;
}
.grid-item-3 {
  grid-area: main;
}
.grid-item-3 > h1 {
  font-size: 30px;
  margin-bottom: 7px;
}
.grid-item-3 > p {
  margin-bottom: 7px;
}
.grid-item-4 {
  grid-area: center;
  border: 8px solid palegreen;
  padding: 15px;
  color: #000;
}
.grid-item-4 > h2 {
  font-size: 20px;
  padding-bottom: 10px;
}
.grid-item-4 li {
  padding: 7px;
  margin-bottom: 7px;
}
.grid-item-5 {
  grid-area: footer;
  color: #fff;
  text-align: center;
}
/* Home */

@media only screen and (max-width: 600px) {
  .grid-item-1 {
    grid-area: 1 / span 6;
  }
  .grid-item-2 {
    grid-area: 2 / span 6;
  }
  .grid-item-3 {
    grid-area: 3 / span 6;
  }
  .grid-item-4 {
    grid-area: 4 / span 6;
  }
  .grid-item-5 {
    grid-area: 5 / span 6;
  }
}

@media only screen and (min-width: 600px) {
  .grid-item-1 {
    grid-area: 1 / span 6;
  }
  .grid-item-2 {
    grid-area: 2 / span 1;
  }
  .grid-item-3 {
    grid-area: 2 / span 4;
  }
  .grid-item-4 {
    grid-area: 3 / span 6;
  }
  .grid-item-5 {
    grid-area: 4 / span 6;
  }
}

@media only screen and (min-width: 768px) {
  .grid-item-1 {
    grid-area: 1 / span 6;
  }
  .grid-item-2 {
    grid-area: 2 / span 1;
  }
  .grid-item-3 {
    grid-area: 2 / span 4;
  }
  .grid-item-4 {
    grid-area: 2 / span 1;
  }
  .grid-item-5 {
    grid-area: 3 / span 6;
  }
}

/* Shop */
.shop-section {
  background-color: palegreen;
  text-align: center;
  color: #fff;
}
.shop-section > h1 {
  font-size: 40px;
}
.grid-container {
  display: grid;
  background-color: palegreen;
  grid-template-columns: auto auto auto;
  padding: 50px;
  text-align: center;
}
#shop-section > h2 {
  color: #000;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
  font-weight: 700;
  margin-bottom: 70px;
}
.grid-item > img {
  height: 200px;
  margin-top: 15px;
}
.grid-item > p {
  color: #3b4964;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 25px;
  font-size: 16px;
  font-weight: 900px;
}
.grid-item > h2 {
  margin-bottom: 0px;
  text-align: center;
  background-color: palegreen;
}
.grid-item {
  padding: 20px;
  background-color: palegreen;
}
/* Shop */
@media only screen and (max-width: 600px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* Get in Touch */
.GetinTouch-section {
  background-color: palegreen;
  min-height: calc(100vh - 70vh);
  text-align: center;
}
.GetinTouch-section > h1 {
  padding-top: 10px;
  margin-bottom: 15px;
}
.footer {
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 10px;
}
.footer address {
  margin-bottom: 25px;
  font-size: 18px;
}
.GetinTouch-section > h2,
h3 {
  font-size: 15px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 15px;
}
.copyright {
  text-align: center;
  font-size: 15px;
  margin-top: 100px;
  margin-bottom: 20px;
}
/* Get in Touch */
